<main>

    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <div class="sidebar" data-background-color="dark">
                <div class="sidebar-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a href="/home" class="logo">
                            <img src="assets/Eco.png" alt="navbar brand" class="navbar-brand" height="30" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <div class="sidebar-wrapper scrollbar scrollbar-inner">
                    <div class="sidebar-content">
                        <ul class="nav nav-secondary">
                            <li class="nav-item">
                                <a href="/home" class="collapsed" aria-expanded="false">
                                    <i class="fas fa-home"></i>
                                    <p>Home</p>
                                </a>
                            </li>
                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Funções Do Sistema</h4>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#cadastro">
                                    <i class="fas fa-user"></i>
                                    <p>Cadastros</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="cadastro">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/cadastros">
                                                <span class="sub-item">Buscar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/pessoa">
                                                <span class="sub-item">Nova Pessoa</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/usuario">
                                                <span class="sub-item">Novo Usuario</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/planta">
                                                <span class="sub-item">Nova Planta</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/material">
                                                <span class="sub-item">Novo Material</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/estoqueNovo">
                                                <span class="sub-item">Novo Estoque</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item active">
                                <a data-bs-toggle="collapse" href="#estoque">
                                    <i class="fas fa-th-list"></i>
                                    <p>Estoque</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="estoque">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/estoqueBuscar">
                                                <span class="sub-item">Buscar Material</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/estoqueEntrada">
                                                <span class="sub-item">Entrada de Material</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/estoqueSaida">
                                                <span class="sub-item">Saída de Material</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#coleta">
                                    <i class="fa fa-map-marker-alt"></i>
                                    <p>Gestão de Coleta</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="coleta">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/agendamento">
                                                <span class="sub-item">Agendamento</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/rotas">
                                                <span class="sub-item">Rotas Programadas</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/attStatus">
                                                <span class="sub-item">Atualizar Status da Coleta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="/relatorios">
                                    <i class="fas fa-table"></i>
                                    <p>Relatórios</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/processamento">
                                    <i class="fas fa-thumbtack"></i>
                                    <p>Processamento</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Sidebar -->
            <!--Start MenuBar-->
            <div class="main-panel">
                <div class="main-header">
                    <div class="main-header-logo">
                        <!-- Logo Header -->
                        <div class="logo-header" data-background-color="dark">
                            <a href="#" class="logo">
                                <img src="public/assets/Eco.png" alt="navbar brand" class="navbar-brand" height="20" />
                            </a>
                            <div class="nav-toggle">
                                <button class="btn btn-toggle toggle-sidebar">
                                    <i class="gg-menu-right"></i>
                                </button>
                                <button class="btn btn-toggle sidenav-toggler">
                                    <i class="gg-menu-left"></i>
                                </button>
                            </div>
                            <button class="topbar-toggler more">
                                <i class="gg-more-vertical-alt"></i>
                            </button>
                        </div>
                        <!-- End Logo Header -->
                    </div>
                    <!-- Navbar Header -->
                    <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                        <div class="container-fluid">
                            <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                                <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                        aria-expanded="false" aria-haspopup="true">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-search animated fadeIn">
                                        <form class="navbar-left navbar-form nav-search">
                                            <div class="input-group">
                                                <input type="text" placeholder="Search ..." class="form-control" />
                                            </div>
                                        </form>
                                    </ul>
                                </li>
                                <li class="nav-item topbar-user dropdown hidden-caret">
                                    <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#"
                                        aria-expanded="false">
                                        <span class="profile-username">
                                            <i class="fas fa-user-circle fa-2x"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                                        <div class="dropdown-user-scroll scrollbar-outer">
                                            <li>
                                                <div class="user-box">
                                                    <div class="u-text">
                                                        <h4>Henrique</h4>
                                                        <p class="text-muted">henrique@gmail.com</p>
                                                        <a href="#" class="btn btn-xs btn-secondary btn-sm">
                                                            Ver
                                                            Perfil
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Minha conta</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Configurações</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/login">Sair</a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- End Navbar -->
                </div>
                <!--End MenuBar-->
                <!--Start conteudo indiviudual da pagina-->
                <div class="container">
                    <div class="page-inner">
                        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center mb-3">
                            <div class="mb-3 d-flex flex-column">
                                <span class="fs-2 fw-bold">
                                    Buscar Material
                                </span>
                                <small class="text-muted">
                                    Busque o material que deseja do estoque.
                                </small>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <div class="accordion-header " id="flush-headingOne">
                                            <button class="accordion-button collapsed card-primary rounded shadow-lg"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                                aria-controls="flush-collapseOne">
                                                <div class="d-flex justify-content-start">
                                                    <span class="fs-4 fw-bold">Linha Azul</span>
                                                </div>
                                            </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingOne"
                                                data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <div class="d-flex flex-column">
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Batedeiras</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i>
                                                            Centrífugas</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i>
                                                            Torradeiras</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Secadores de
                                                            Cabelo</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Máquina de
                                                            Costura</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i>
                                                            Ferramentas</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i>
                                                            Liquidificadores</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Máquina de
                                                            Escrever</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Brinquedos</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Entre
                                                            Outros</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <div class="accordion-header " id="flush-headingOne">
                                            <button class="accordion-button collapsed card-warning rounded shadow-lg"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                                aria-controls="flush-collapseOne">
                                                <div class="d-flex justify-content-start">
                                                    <span class="fs-4 fw-bold">Linha Laranja</span>
                                                </div>
                                            </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingOne"
                                                data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <div class="d-flex flex-column">
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Componentes de
                                                            Audio</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Aparelhos de
                                                            Som</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Projetores</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Home
                                                            Theaters</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Filmadoras</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Entre
                                                            Outros</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <div class="accordion-header " id="flush-headingOne">
                                            <button class="accordion-button collapsed card-success rounded shadow-lg"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                                aria-controls="flush-collapseOne">
                                                <div class="d-flex justify-content-start">
                                                    <span class="fs-4 fw-bold">Linha Verde</span>
                                                </div>
                                            </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingOne"
                                                data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <div class="d-flex flex-column">
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Computadores
                                                            desktops</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Notebooks</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Fax</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Tablets</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i>
                                                            Impressoras</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> IPods</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Celulares</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Copiadoras</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Entre
                                                            Outros</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <div class="accordion-header " id="flush-headingOne">
                                            <button class="accordion-button collapsed card-danger rounded shadow-lg"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                                aria-controls="flush-collapseOne">
                                                <div class="d-flex justify-content-start">
                                                    <span class="fs-4 fw-bold">Linha Vermelha</span>
                                                </div>
                                            </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingOne"
                                                data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <div class="d-flex flex-column">
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Geladeira</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Freezer</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Máquina de
                                                            Lavar</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i>
                                                            Micro-ondas</span>
                                                        <span class="fs-7 fw-bold"><i
                                                                class="fas fa-arrow-circle-right"></i> Entre
                                                            Outros</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow-lg">
                            <div class="card-header d-none">
                                <div class="card-title">
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="fw-bold form-label d-flex justify-content-center">
                                                Selecione a Linha do
                                                material
                                            </label>
                                            <div class="row gutters-xs d-flex justify-content-center">
                                                <div class="col-auto">
                                                    <label class="colorinput">
                                                        <input name="color" type="checkbox" value="primary"
                                                            class="colorinput-input">
                                                        <span class="colorinput-color bg-primary"></span>
                                                    </label>
                                                </div>
                                                <div class="col-auto">
                                                    <label class="colorinput">
                                                        <input name="color" type="checkbox" value="success"
                                                            class="colorinput-input">
                                                        <span class="colorinput-color bg-success"></span>
                                                    </label>
                                                </div>
                                                <div class="col-auto">
                                                    <label class="colorinput">
                                                        <input name="color" type="checkbox" value="danger"
                                                            class="colorinput-input">
                                                        <span class="colorinput-color bg-danger"></span>
                                                    </label>
                                                </div>
                                                <div class="col-auto">
                                                    <label class="colorinput">
                                                        <input name="color" type="checkbox" value="warning"
                                                            class="colorinput-input">
                                                        <span class="colorinput-color bg-warning"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="fw-bold">Descrição do Material</label>
                                            <input type="text" class="form-control form-control" id="defaultInput"
                                                placeholder="Insira o nome">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="fw-bold">Codigo do Material</label>
                                            <input type="text" class="form-control form-control" id="defaultInput"
                                                placeholder="Informe o codigo">
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-6">
                                        <div>
                                            <label class="fw-bold">Data de Cadastro</label>
                                            <div class="input-group mt-2">
                                                <input type="date" class="form-control" aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="fw-bold">Status</label>
                                            <select class="form-select form-control" id="defaultSelect">
                                                <option>Vendido</option>
                                                <option selected>Em Estoque</option>
                                                <option>Descartado</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                <a class="btn btn-info me-3">Limpar Filtros</a>
                                <a class="btn btn-primary">Buscar</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header d-none">
                                <div class="card-title"></div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive rounded">
                                    <table class="table table-bordered table-head-bg-success">
                                        <thead>
                                            <tr>
                                                <th>Linha</th>
                                                <th>Descrição</th>
                                                <th>Codigo</th>
                                                <th>Qtd.(Kg)</th>
                                                <th>Data Entrada</th>
                                                <th>Data Saída</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Linha Verde</td>
                                                <td>Placa Verde</td>
                                                <td>13213193</td>
                                                <td>870</td>
                                                <td>16/06/2024</td>
                                                <td>19/08/2024</td>
                                                <td>Vendido</td>
                                            </tr>
                                            <tr>
                                                <td>Linha Vermelha</td>
                                                <td>Geladeira</td>
                                                <td>13213193</td>
                                                <td>240</td>
                                                <td>16/06/2024</td>
                                                <td>--</td>
                                                <td>Em Estoque</td>
                                            </tr>
                                            <tr>
                                                <td>Linha Azul</td>
                                                <td>Materiais Diversos</td>
                                                <td>13213193</td>
                                                <td>1150</td>
                                                <td>16/06/2024</td>
                                                <td>16/06/2024</td>
                                                <td>Descartado</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--end conteudo indiviudual da pagina-->
                    <footer class="footer">
                        <div class="container-fluid d-flex justify-content-between">
                            <nav class="pull-left">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">footer#1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">footer#2</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="copyright">
                                2025 - Autores: Equipe 7
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
    </body>
</main>