<main>

    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <div class="sidebar" data-background-color="dark"
                data-intro="Bem vindo! Este é o menu de navegação. Aqui poderemos navegar por todas funcionalidades do sistema."
                data-step="1">
                <div class="sidebar-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a href="/home" class="logo">
                            <img src="assets/Eco.png" alt="navbar brand" class="navbar-brand" height="30" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <div class="sidebar-wrapper scrollbar scrollbar-inner">
                    <div class="sidebar-content">
                        <ul class="nav nav-secondary">
                            <li class="nav-item active">
                                <a href="/home" class="collapsed" aria-expanded="false">
                                    <i class="fas fa-home"></i>
                                    <p>Home</p>
                                </a>
                            </li>
                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Funções Do Sistema</h4>
                            </li>
                            <li class="nav-item"
                                data-intro="Aqui temos nosso módulo de cadastros que permite fazer os cadastros de pessoa física, jurídica, usuário e planta."
                                data-step="2">
                                <a data-bs-toggle="collapse" href="#cadastro">
                                    <i class="fas fa-user"></i>
                                    <p>Cadastros</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="cadastro">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/cadastros">
                                                <span class="sub-item">Buscar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/pessoa">
                                                <span class="sub-item">Nova Pessoa</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/usuario">
                                                <span class="sub-item">Novo Usuario</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/planta">
                                                <span class="sub-item">Nova Planta</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/motorista">
                                                <span class="sub-item">Novo Motorista</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/caminhao">
                                                <span class="sub-item">Novo Caminhão</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item"
                                data-intro="Nesse espaço permitimos que você busque um estoque ou material, também possibilitando dar entrada, saída ou pesagem."
                                data-step="3">
                                <a data-bs-toggle="collapse" href="#estoque">
                                    <i class="fas fa-th-list"></i>
                                    <p>Estoque</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="estoque">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/estoqueBuscar">
                                                <span class="sub-item">Buscar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/estoqueNovo">
                                                <span class="sub-item">Novo Estoque</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/material">
                                                <span class="sub-item">Novo Material</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/estoqueSaida">
                                                <span class="sub-item">Movimentações</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/novoMaterial">
                                                <span class="sub-item">Pesagem da coleta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item"
                                data-intro="Faça seu agendamento, cadastre uma rota dele e depois atualize o status da coleta."
                                data-step="4">
                                <a data-bs-toggle="collapse" href="#coleta">
                                    <i class="fa fa-map-marker-alt"></i>
                                    <p>Gestão de Coleta</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="coleta">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/agendamento">
                                                <span class="sub-item">Agendamento</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/rotas">
                                                <span class="sub-item">Rotas Programadas</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/attStatus">
                                                <span class="sub-item">Atualizar Status da Coleta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="/relatorios">
                                    <i class="fas fa-table"></i>
                                    <p>Relatórios</p>
                                </a>
                            </li>
                            <li class="nav-item" data-intro="Enquanto isso, acompanhe o processamento do seu material."
                                data-step="5">
                                <a href="/processamento">
                                    <i class="fas fa-thumbtack"></i>
                                    <p>Processamento</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Sidebar -->
            <!--Start MenuBar-->
            <div class="main-panel">
                <div class="main-header">
                    <div class="main-header-logo">
                        <!-- Logo Header -->
                        <div class="logo-header" data-background-color="dark">
                            <a href="#" class="logo">
                                <img src="public/assets/Eco.png" alt="navbar brand" class="navbar-brand" height="20" />
                            </a>
                            <div class="nav-toggle">
                                <button class="btn btn-toggle toggle-sidebar">
                                    <i class="gg-menu-right"></i>
                                </button>
                                <button class="btn btn-toggle sidenav-toggler">
                                    <i class="gg-menu-left"></i>
                                </button>
                            </div>
                            <button class="topbar-toggler more">
                                <i class="gg-more-vertical-alt"></i>
                            </button>
                        </div>
                        <!-- End Logo Header -->
                    </div>
                    <!-- Navbar Header -->
                    <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                        <div class="container-fluid">
                            <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                                <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                        aria-expanded="false" aria-haspopup="true">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-search animated fadeIn">
                                        <form class="navbar-left navbar-form nav-search">
                                            <div class="input-group">
                                                <input type="text" placeholder="Search ..." class="form-control" />
                                            </div>
                                        </form>
                                    </ul>
                                </li>
                                <li class="nav-item topbar-user dropdown hidden-caret">
                                    <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#"
                                        aria-expanded="false">
                                        <span class="profile-username">
                                            <i class="fas fa-user-circle fa-2x"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                                        <div class="dropdown-user-scroll scrollbar-outer">
                                            <li>
                                                <div class="user-box">
                                                    <div class="u-text">
                                                        <h4>Henrique</h4>
                                                        <p class="text-muted">henrique@gmail.com</p>
                                                        <a href="#" class="btn btn-xs btn-secondary btn-sm">
                                                            Ver
                                                            Perfil
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Minha conta</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Configurações</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/login">Sair</a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- End Navbar -->
                </div>
                <!--End MenuBar-->
                <!--Start conteudo indiviudual da pagina-->
                <div class="container">
                    <div class="page-inner">
                        <div class="row row-card-no-pd mt--2 shadow-lg mb-5">
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h5><b>Capacidade de Processamento</b></h5>
                                                <p class="text-muted">All Customs Value</p>
                                            </div>
                                            <h3 class="text-info fw-bold">$170</h3>
                                        </div>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-info w-75" role="progressbar" aria-valuenow="75"
                                                aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="d-flex justify-content-between mt-2">
                                            <p class="text-muted mb-0">Change</p>
                                            <p class="text-muted mb-0">75%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h5><b>Capacidade de Armazenamento</b></h5>
                                                <p class="text-muted">All Customs Value</p>
                                            </div>
                                            <h3 class="text-success fw-bold">$120</h3>
                                        </div>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-success w-25" role="progressbar"
                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="d-flex justify-content-between mt-2">
                                            <p class="text-muted mb-0">Change</p>
                                            <p class="text-muted mb-0">25%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h5><b>Número de Funcionários</b></h5>
                                                <p class="text-muted">Fresh Order Amount</p>
                                            </div>
                                            <h3 class="text-danger fw-bold">15</h3>
                                        </div>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-danger w-50" role="progressbar"
                                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="d-flex justify-content-between mt-2">
                                            <p class="text-muted mb-0">Change</p>
                                            <p class="text-muted mb-0">50%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card mb-5">
                                    <div class="card-header">
                                        <div class="card-title">Volume de Resíduos Processados (ton) - 2025</div>
                                    </div>
                                    <div class="card-body">
                                        <canvas height="100" id="grafico1"></canvas>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Taxa de devolução em volume - Semestre</div>
                                    </div>
                                    <div class="card-body">
                                        <canvas height="100" id="grafico2"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-5">
                                    <div class="card-header">
                                        <div class="card-title">title</div>
                                    </div>
                                    <div class="card-body d-flex justify-content-center">
                                        <canvas class="w-75 h-auto" id="grafico3"></canvas>
                                    </div>
                                </div>
                                <div class="card mb-5">
                                    <div class="card-header">
                                        <div class="card-title">title</div>
                                    </div>
                                    <div class="card-body d-flex justify-content-center">
                                        <canvas class="w-75 h-auto" id="grafico4"></canvas>
                                    </div>
                                </div>
                                <div class="card mb-5">
                                    <div class="card-header">
                                        <div class="card-title">title</div>
                                    </div>
                                    <div class="card-body d-flex justify-content-center">
                                        <canvas class="w-75 h-auto" id="grafico5"></canvas>
                                    </div>
                                </div>
                            </div>

                        </div>


                        {{!-- <iframe class="w-100" height="800"
                            src="https://lookerstudio.google.com/embed/reporting/47430565-a7d0-4bed-bbca-0665059cd7e1/page/XPMCE"
                            frameborder="0" style="border:0" allowfullscreen
                            sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
                        --}}
                    </div>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script>
                        //gráfico 1
                        const ctx = document.getElementById('grafico1');

                        let labelsX = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'];
                        let valores = [10, 20, 30, 40, 15, 25, 35, 45, 20, 30, 40, 50];

                        new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: labelsX,
                                datasets: [{
                                    label: '# of Votes',
                                    data: valores,
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });                   
                    </script>
                    <script>
                        const labels = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho'];

                        const data = {
                            labels: labels,
                            datasets: [{
                                label: 'My First Dataset',
                                data: [65, 59, 80, 81, 56, 55, 40],
                                fill: false,
                                borderColor: 'rgb(75, 192, 192)',
                                tension: 0.1
                            }]
                        };

                        const config = {
                            type: 'line',
                            data: data,
                        };

                        const myChart = new Chart(
                            document.getElementById('grafico2'),
                            config
                        );
                    </script>
                    <script>
                        const doughnutData = {
                            labels: ['Red', 'Blue', 'Yellow'],
                            datasets: [{
                                label: 'My First Dataset',
                                data: [300, 50, 100],
                                backgroundColor: [
                                    'rgb(255, 99, 132)',
                                    'rgb(54, 162, 235)',
                                    'rgb(255, 205, 86)'
                                ],
                                hoverOffset: 4
                            }]
                        };

                        const doughnutConfig = {
                            type: 'doughnut',
                            data: doughnutData,
                        };

                        const doughnutChart = new Chart(
                            document.getElementById('grafico3'),
                            doughnutConfig
                        );
                    </script>
                    <script>
                        const doughnutData2 = {
                            labels: ['Orgânico', 'Plástico', 'Metal'],
                            datasets: [{
                                label: 'Tipos de Resíduos',
                                data: [120, 200, 80],
                                backgroundColor: [
                                    'rgb(100, 200, 100)',
                                    'rgb(0, 123, 255)',
                                    'rgb(255, 193, 7)'
                                ],
                                hoverOffset: 4
                            }]
                        };

                        const doughnutConfig2 = {
                            type: 'doughnut',
                            data: doughnutData2,
                        };

                        const doughnutChart2 = new Chart(
                            document.getElementById('grafico4'),
                            doughnutConfig2
                        );
                    </script>
                    <script>
                        const doughnutData3 = {
                            labels: ['Indústria', 'Comércio', 'Residencial'],
                            datasets: [{
                                label: 'Origem dos Resíduos',
                                data: [180, 90, 130],
                                backgroundColor: [
                                    'rgb(255, 99, 132)',
                                    'rgb(54, 162, 235)',
                                    'rgb(153, 102, 255)'
                                ],
                                hoverOffset: 4
                            }]
                        };

                        const doughnutConfig3 = {
                            type: 'doughnut',
                            data: doughnutData3,
                        };

                        const doughnutChart3 = new Chart(
                            document.getElementById('grafico5'),
                            doughnutConfig3
                        );
                    </script>
                    <!--end conteudo indiviudual da pagina-->
                    <footer class="footer">
                        <div class="container-fluid d-flex justify-content-between">
                            <nav class="pull-left">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">footer#1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">footer#2</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="copyright">
                                2025 - Autores: Equipe 7
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
    </body>
</main>