<main>

    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <div class="sidebar" data-background-color="dark">
                <div class="sidebar-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a href="/home" class="logo">
                            <img src="/assets/Eco.png" alt="navbar brand" class="navbar-brand" height="30" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <div class="sidebar-wrapper scrollbar scrollbar-inner">
                    <div class="sidebar-content">
                        <ul class="nav nav-secondary">
                            <li class="nav-item">
                                <a href="/home" class="collapsed" aria-expanded="false">
                                    <i class="fas fa-home"></i>
                                    <p>Home</p>
                                </a>
                            </li>
                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Funções Do Sistema</h4>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#cadastro">
                                    <i class="fas fa-user"></i>
                                    <p>Cadastros</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="cadastro">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/cadastros">
                                                <span class="sub-item">Buscar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/pessoa">
                                                <span class="sub-item">Nova Pessoa</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/usuario">
                                                <span class="sub-item">Novo Usuario</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/planta">
                                                <span class="sub-item">Nova Planta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item active">
                                <a data-bs-toggle="collapse" href="#estoque">
                                    <i class="fas fa-th-list"></i>
                                    <p>Estoque</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="estoque">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/estoqueBuscar">
                                                <span class="sub-item">Buscar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/estoqueNovo">
                                                <span class="sub-item">Novo Estoque</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/material">
                                                <span class="sub-item">Novo Material</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/estoqueSaida">
                                                <span class="sub-item">Movimentações</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/novoMaterial">
                                                <span class="sub-item">Pesagem da coleta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#coleta">
                                    <i class="fa fa-map-marker-alt"></i>
                                    <p>Gestão de Coleta</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="coleta">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/agendamento">
                                                <span class="sub-item">Agendamento</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/rotas">
                                                <span class="sub-item">Rotas Programadas</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/attStatus">
                                                <span class="sub-item">Atualizar Status da Coleta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="/relatorios">
                                    <i class="fas fa-table"></i>
                                    <p>Relatórios</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/processamento">
                                    <i class="fas fa-thumbtack"></i>
                                    <p>Processamento</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Sidebar -->
            <!--Start MenuBar-->
            <div class="main-panel">
                <div class="main-header">
                    <div class="main-header-logo">
                        <!-- Logo Header -->
                        <div class="logo-header" data-background-color="dark">
                            <a href="#" class="logo">
                                <img src="public/assets/Eco.png" alt="navbar brand" class="navbar-brand" height="20" />
                            </a>
                            <div class="nav-toggle">
                                <button class="btn btn-toggle toggle-sidebar">
                                    <i class="gg-menu-right"></i>
                                </button>
                                <button class="btn btn-toggle sidenav-toggler">
                                    <i class="gg-menu-left"></i>
                                </button>
                            </div>
                            <button class="topbar-toggler more">
                                <i class="gg-more-vertical-alt"></i>
                            </button>
                        </div>
                        <!-- End Logo Header -->
                    </div>
                    <!-- Navbar Header -->
                    <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                        <div class="container-fluid">
                            <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                                <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                        aria-expanded="false" aria-haspopup="true">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-search animated fadeIn">
                                        <form class="navbar-left navbar-form nav-search">
                                            <div class="input-group">
                                                <input type="text" placeholder="Search ..." class="form-control" />
                                            </div>
                                        </form>
                                    </ul>
                                </li>
                                <li class="nav-item topbar-user dropdown hidden-caret">
                                    <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#"
                                        aria-expanded="false">
                                        <span class="profile-username">
                                            <i class="fas fa-user-circle fa-2x"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                                        <div class="dropdown-user-scroll scrollbar-outer">
                                            <li>
                                                <div class="user-box">
                                                    <div class="u-text">
                                                        <h4>Henrique</h4>
                                                        <p class="text-muted">henrique@gmail.com</p>
                                                        <a href="#" class="btn btn-xs btn-secondary btn-sm">
                                                            Ver
                                                            Perfil
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Minha conta</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Configurações</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/login">Sair</a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- End Navbar -->
                </div>
                <!--End MenuBar-->
                <!--Start conteúdo individual da página-->
                <div class="container">
                    <div class="page-inner">
                        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center mb-3">
                            <div class="mb-3 d-flex flex-column">
                                <span class="fs-2 fw-bold">Pesagem de Material</span>
                                <small class="text-muted">Preencha os dados de cadastro e clique em continuar.</small>
                            </div>
                            <a href="/estoqueBuscar" class="btn btn-secondary fw-bold shadow-lg me-3 mt-2">
                                Voltar</a>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-5">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="fw-bold">Nome do Agendamento</label>
                                            <select id="agendamento" name="agendamento" class="form-control">
                                                <option value="">Selecione um agendamento</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="fw-bold">Peso previsto no agendamento (KG)</label>
                                            <input type="text" id="peso" name="peso" class="form-control"
                                                placeholder="___" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="fw-bold">Peso real (KG)</label>
                                            <input type="number" step="0.01" id="pesoReal" name="pesoReal"
                                                class="form-control" placeholder="___" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-3">
                                    <i class="fas fa-info-circle fs-4 me-2"></i>
                                    <span class="fs-4 fw-bold">Selecione uma linha:</span>
                                    <div class="separator-dashed"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="d-flex flex-column" id="v-pills-tab">
                                            <button class="btn btn-sm shadow-lg mb-3 fs-6 fw-bold btn-primary btn-linha"
                                                data-linha="1">Linha Azul</button>
                                            <button class="btn btn-sm shadow-lg mb-3 fs-6 fw-bold btn-success btn-linha"
                                                data-linha="2">Linha Verde</button>
                                            <button class="btn btn-sm shadow-lg mb-3 fs-6 fw-bold btn-warning btn-linha"
                                                data-linha="3">Linha Laranja</button>
                                            <button class="btn btn-sm shadow-lg mb-3 fs-6 fw-bold btn-danger btn-linha"
                                                data-linha="4">Linha Vermelho</button>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="card-body">
                                            <div class="table-responsive rounded">
                                                <form id="formUpdate">
                                                    <table class="table table-bordered table-head-bg-black">
                                                        <thead>
                                                            <tr>
                                                                <th>Codigo</th>
                                                                <th>Material</th>
                                                                <th>Peso previsto</th>
                                                                <th>Peso final</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tableBody">
                                                            <!-- Os dados serão inseridos aqui -->
                                                        </tbody>
                                                    </table>
                                                    <div class="d-flex justify-content-end mt-3">
                                                        <button type="submit" class="btn btn-primary">Salvar
                                                            Alterações</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end gap-2 mt-3">
                                <div class="card-footer d-flex justify-content-end">
                                    <button id="btnConcluirPesagem" class="btn btn-primary"> Concluir
                                        Pesagem</button>
                                </div>
                                <div class="card-footer d-flex justify-content-end">
                                    <a href="/novoMaterial2" class="btn btn-primary fs-5">
                                        <span class="btn-label">
                                            <i class="fas fa-angle-double-right"></i>
                                        </span>
                                        Separação
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        const selectAgendamento = document.getElementById('agendamento');
                        const buttonsLinha = document.querySelectorAll('.btn-linha');
                        const tableBody = document.getElementById('tableBody');
                        const formUpdate = document.getElementById('formUpdate');
                        const pesoInput = document.getElementById('peso');
                        const pesoRealInput = document.getElementById('pesoReal');

                        function carregarAgendamentos() {
                            fetch('/buscarAgendamentoMaterial')
                                .then(response => response.json())
                                .then(agendamentos => {
                                    agendamentos.forEach(agendamento => {
                                        const option = document.createElement('option');
                                        option.value = agendamento.cd_agendamento;
                                        option.textContent = agendamento.nm_agendamento;
                                        option.dataset.peso = agendamento.qt_quantidade_prevista_kg;
                                        option.dataset.pesoReal = agendamento.qt_peso_real;
                                        selectAgendamento.appendChild(option);
                                    });

                                    selectAgendamento.addEventListener('change', atualizarCamposAgendamento);

                                    const urlParams = new URLSearchParams(window.location.search);
                                    const ie_agenda = urlParams.get('ie_agenda');
                                    if (ie_agenda) {
                                        selectAgendamento.value = ie_agenda;
                                        atualizarCamposAgendamento();
                                    }
                                })
                                .catch(error => console.error('Erro ao carregar agendamentos:', error));
                        }

                        function atualizarCamposAgendamento() {
                            const selectedOption = selectAgendamento.options[selectAgendamento.selectedIndex];
                            pesoInput.value = selectedOption.dataset.peso || '';
                            pesoRealInput.value = selectedOption.dataset.pesoReal || '';
                        }

                        function configurarBotoesLinha() {
                            buttonsLinha.forEach(button => {
                                button.addEventListener('click', function () {
                                    buttonsLinha.forEach(btn => btn.classList.remove('active'));
                                    this.classList.add('active');

                                    const ie_linha = this.getAttribute('data-linha');
                                    const ie_agenda = selectAgendamento.value;

                                    if (!ie_agenda) {
                                        swal("Atenção!", "Selecione um agendamento primeiro.", {
                                            icon: "info",
                                            buttons: {
                                                confirm: {
                                                    text: "OK",
                                                    className: "btn btn-success",
                                                },
                                            },
                                        });
                                        return;
                                    }

                                    fetch(`/buscarItensgenda?ie_agenda=${ie_agenda}&ie_linha=${ie_linha}`)
                                        .then(response => response.json())
                                        .then(data => {
                                            tableBody.innerHTML = '';

                                            if (data.length === 0) {
                                                tableBody.innerHTML = '<tr><td colspan="4" class="text-center text-muted">Nenhum item encontrado</td></tr>';
                                                return;
                                            }

                                            data.forEach(item => {
                                                const row = document.createElement('tr');
                                                row.innerHTML = `
                                                    <td>${item.cd_mat_agenda}</td>
                                                    <td>${item.ds_mat_agenda}</td>
                                                    <td>${item.qt_peso_material_total_kg}</td>
                                                    <td>
                                                        <input type="number" step="0.01" name="pesoFinal[${item.cd_mat_agenda}]" class="form-control" value="${item.qt_peso_final || ''}" />
                                                    </td>
                                                `;
                                                tableBody.appendChild(row);
                                            });
                                        })
                                        .catch(error => console.error('Erro ao buscar itens do agendamento e linha:', error));
                                });
                            });
                        }

                        formUpdate.addEventListener('submit', function (event) {
                            event.preventDefault();

                            const ie_agenda = selectAgendamento.value;
                            const ie_linha = document.querySelector('.btn-linha.active')?.getAttribute('data-linha');

                            if (!ie_agenda) {
                                swal("Atenção!", "Selecione um agendamento antes de salvar.", {
                                    icon: "info",
                                    buttons: {
                                        confirm: {
                                            text: "OK",
                                            className: "btn btn-success",
                                        },
                                    },
                                });
                                return;
                            }

                            if (!ie_linha) {
                                swal("Atenção!", "Selecione uma linha antes de salvar.", {
                                    icon: "info",
                                    buttons: {
                                        confirm: {
                                            text: "OK",
                                            className: "btn btn-success",
                                        },
                                    },
                                });
                                return;
                            }

                            // Validação de número negativo e nulo nos inputs de peso final
                            const camposInvalidos = [];
                            tableBody.querySelectorAll('input[name^="pesoFinal"]').forEach(input => {
                                const valor = input.value;
                                // Considera inválido se for vazio, undefined, null, não numérico ou negativo
                                if (
                                    valor === "" ||
                                    valor === undefined ||
                                    valor === null ||
                                    isNaN(Number(valor)) ||
                                    Number(valor) <= 0
                                ) {
                                    camposInvalidos.push(input);
                                }
                            });

                            if (camposInvalidos.length > 0) {
                                swal("Atenção!", "Peso final não pode ser negativo ou nulo.", {
                                    icon: "error",
                                    buttons: {
                                        confirm: {
                                            text: "OK",
                                            className: "btn btn-danger",
                                        },
                                    },
                                });
                                camposInvalidos.forEach(input => input.classList.add('is-invalid'));
                                return;
                            } else {
                                tableBody.querySelectorAll('input[name^="pesoFinal"]').forEach(input => input.classList.remove('is-invalid'));
                            }

                            const formData = new FormData(formUpdate);

                            fetch('/atualizarPesos', {
                                method: 'POST',
                                body: formData
                            })
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error('Erro na resposta do servidor');
                                    }
                                    return response.json();
                                })
                                .then(data => {
                                    swal("Atualizado!", "Pesos atualizados com sucesso!", {
                                        icon: "success",
                                        buttons: {
                                            confirm: {
                                                text: "OK",
                                                className: "btn btn-success",
                                            },
                                        },
                                    }).then(() => {
                                        window.location.href = `/novoMaterial?ie_agenda=${ie_agenda}&ie_linha=${ie_linha}`;
                                    });
                                })
                                .catch(error => {
                                    swal("Erro!", "Erro ao atualizar os pesos.", {
                                        icon: "error",
                                        buttons: {
                                            confirm: {
                                                text: "OK",
                                                className: "btn btn-danger",
                                            },
                                        },
                                    });
                                });
                        });

                        carregarAgendamentos();
                        configurarBotoesLinha();
                    });
                </script>


                <script> // Para o botão de "Concluir pesagem"
                    document.getElementById('btnConcluirPesagem').addEventListener('click', function () {
                        const ie_agenda = document.getElementById('agendamento').value;
                        if (!ie_agenda) {
                            swal("Atenção!", "Selecione um agendamento antes de concluir.", {
                                icon: "info",
                                buttons: {
                                    confirm: {
                                        text: "OK",
                                        className: "btn btn-success",
                                    },
                                },
                            });
                            return;
                        }
                        fetch('/concluirPesagem', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({ ie_agenda })
                        })
                            .then(async response => {
                                const data = await response.json();
                                if (!response.ok) {
                                    // Erro: exibe modal vermelho
                                    swal("Atenção!", data.mensagem, {
                                        icon: "error",
                                        buttons: {
                                            confirm: {
                                                className: "btn btn-danger",
                                            },
                                        },
                                    });
                                    return;
                                }
                                // Sucesso: exibe modal verde
                                swal("Concluído!", data.mensagem, {
                                    icon: "success",
                                    buttons: {
                                        confirm: {
                                            text: "OK",
                                            className: "btn btn-success",
                                            value: "ok"
                                        },
                                        irSeparacao: {
                                            text: "Ir para Separação",
                                            className: "btn btn-primary",
                                            value: "separacao"
                                        }
                                    },
                                }).then((value) => {
                                    if (value === "separacao") {
                                        window.location.href = "/novoMaterial2?ie_agenda=" + encodeURIComponent(ie_agenda);
                                    } else {
                                        window.location.reload();
                                    }
                                });
                            })
                            .catch(error => {
                                swal("Erro!", "Erro ao concluir a pesagem.", {
                                    icon: "error",
                                    buttons: {
                                        confirm: {
                                            className: "btn btn-danger",
                                        },
                                    },
                                });
                            });
                    });
                </script>


                <footer class="footer">
                    <div class="container-fluid d-flex justify-content-between">
                        <nav class="pull-left">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">footer#1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">footer#2</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="copyright">
                            2025 - Autores: Equipe 7
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</main>