<main>

    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <div class="sidebar" data-background-color="dark">
                <div class="sidebar-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a href="/home" class="logo">
                            <img src="/assets/Eco.png" alt="navbar brand" class="navbar-brand" height="30" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <div class="sidebar-wrapper scrollbar scrollbar-inner">
                    <div class="sidebar-content">
                        <ul class="nav nav-secondary">
                            <li class="nav-item">
                                <a href="/home" class="collapsed" aria-expanded="false">
                                    <i class="fas fa-home"></i>
                                    <p>Home</p>
                                </a>
                            </li>
                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Funções Do Sistema</h4>
                            </li>
                            <li class="nav-item active">
                                <a data-bs-toggle="collapse" href="#cadastro">
                                    <i class="fas fa-user"></i>
                                    <p>Cadastros</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="cadastro">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/cadastros">
                                                <span class="sub-item">Buscar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/pessoa">
                                                <span class="sub-item">Nova Pessoa</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/usuario">
                                                <span class="sub-item">Novo Usuario</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/planta">
                                                <span class="sub-item">Nova Planta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#estoque">
                                    <i class="fas fa-th-list"></i>
                                    <p>Estoque</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="estoque">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/estoqueBuscar">
                                                <span class="sub-item">Buscar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/estoqueNovo">
                                                <span class="sub-item">Novo Estoque</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/material">
                                                <span class="sub-item">Novo Material</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/estoqueSaida">
                                                <span class="sub-item">Movimentações</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#coleta">
                                    <i class="fa fa-map-marker-alt"></i>
                                    <p>Gestão de Coleta</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="coleta">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/agendamento">
                                                <span class="sub-item">Agendamento</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/rotas">
                                                <span class="sub-item">Rotas Programadas</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/attStatus">
                                                <span class="sub-item">Atualizar Status da Coleta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="/relatorios">
                                    <i class="fas fa-table"></i>
                                    <p>Relatórios</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/processamento">
                                    <i class="fas fa-thumbtack"></i>
                                    <p>Processamento</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Sidebar -->
            <!--Start MenuBar-->
            <div class="main-panel">
                <div class="main-header">
                    <div class="main-header-logo">
                        <!-- Logo Header -->
                        <div class="logo-header" data-background-color="dark">
                            <a href="#" class="logo">
                                <img src="public/assets/Eco.png" alt="navbar brand" class="navbar-brand" height="20" />
                            </a>
                            <div class="nav-toggle">
                                <button class="btn btn-toggle toggle-sidebar">
                                    <i class="gg-menu-right"></i>
                                </button>
                                <button class="btn btn-toggle sidenav-toggler">
                                    <i class="gg-menu-left"></i>
                                </button>
                            </div>
                            <button class="topbar-toggler more">
                                <i class="gg-more-vertical-alt"></i>
                            </button>
                        </div>
                        <!-- End Logo Header -->
                    </div>
                    <!-- Navbar Header -->
                    <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                        <div class="container-fluid">
                            <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                                <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                        aria-expanded="false" aria-haspopup="true">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-search animated fadeIn">
                                        <form class="navbar-left navbar-form nav-search">
                                            <div class="input-group">
                                                <input type="text" placeholder="Search ..." class="form-control" />
                                            </div>
                                        </form>
                                    </ul>
                                </li>
                                <li class="nav-item topbar-user dropdown hidden-caret">
                                    <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#"
                                        aria-expanded="false">
                                        <span class="profile-username">
                                            <i class="fas fa-user-circle fa-2x"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                                        <div class="dropdown-user-scroll scrollbar-outer">
                                            <li>
                                                <div class="user-box">
                                                    <div class="u-text">
                                                        <h4>Henrique</h4>
                                                        <p class="text-muted">henrique@gmail.com</p>
                                                        <a href="#" class="btn btn-xs btn-secondary btn-sm">
                                                            Ver
                                                            Perfil
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Minha conta</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Configurações</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/login">Sair</a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- End Navbar -->
                </div>
                <!--End MenuBar-->
                <!--Start conteudo indiviudual da pagina-->
                <div class="container">
                    <div class="page-inner">
                        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center mb-3">
                            <div class="mb-3 d-flex flex-column">
                                <span class="fs-2 fw-bold">
                                    Cadastro de Planta de Reciclagem
                                </span>
                                <small class="text-muted">
                                    Preencha os dados de cadastro e clique em salvar.
                                </small>
                            </div>
                        </div>
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <form id="formCadastroPlanta" method="POST" action="/planta">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Nome da Planta</label>
                                                <input type="text" class="form-control" name="nm_planta"
                                                    placeholder="Insira o nome" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Código da Planta</label>
                                                <input type="text" class="form-control"
                                                    placeholder="Gerado automaticamente" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Capacidade Total (Kg)</label>
                                                <input type="number" class="form-control" name="qt_capacidade_total_kg"
                                                    placeholder="Capacidade Total (Kg)" required min="1">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Área total em m²</label>
                                                <input type="number" class="form-control" name="qt_area_total_m2"
                                                    placeholder="Nr de m²" required min="1">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Capacidade Atual (Kg)</label>
                                                <input type="number" class="form-control" name="qt_capacidade_atual_kg"
                                                    id="qt_capacidade_atual_kg" placeholder="Capacidade Atual (Kg)"
                                                    readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Situação</label>
                                                <input type="hidden" name="ie_situacao" value="I">
                                                <div class="form-check">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                            id="ie_situacao_checkbox" value="A">
                                                        <label class="form-check-label"
                                                            for="ie_situacao_checkbox">Ativo</label>
                                                    </div>
                                                    <input type="hidden" id="hidden_ie_situacao" name="ie_situacao"
                                                        value="I">
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-bold">Endereço</label>
                                                    <input type="text" class="form-control" name="ds_endereco"
                                                        placeholder="Preencha o endereço" required>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="fw-bold">CEP</label>
                                                    <input type="text" class="form-control" name="nr_cep" id="nr_cep"
                                                        placeholder="Preencha o CEP" required maxlength="9">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-bold">Cidade</label>
                                                    <select class="form-control" name="cd_cidade" id="cd_cidade"
                                                        required>
                                                        <option value="">Selecione a cidade</option>
                                                        {{#each cidades}}
                                                        <option value="{{cd_cidade}}">{{nm_cidade}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="fw-bold">Bairro</label>
                                                    <select class="form-control" name="cd_bairro" id="cd_bairro"
                                                        required>
                                                        <option value="">Selecione o bairro</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end mt-3">
                                            <a href="/home" class="btn btn-secondary me-3">
                                                Voltar
                                            </a>
                                            <button type="submit" class="btn btn-success">
                                                Salvar
                                            </button>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end conteudo indiviudual da pagina-->
                <!-- Script para validação extra no frontend -->
                <script>
                    // Validação do formulário no submit
                    document.getElementById('formCadastroPlanta').addEventListener('submit', function (event) {
                        let formValid = true;

                        const nomePlanta = document.getElementsByName('nm_planta')[0].value;
                        if (nomePlanta.trim() === "") {
                            alert('O nome da planta é obrigatório.');
                            formValid = false;
                        }

                        const cepInput = document.getElementById('nr_cep');
                        const rawCep = cepInput.value.replace(/\D/g, ''); // remove qualquer não-numérico

                        if (!/^\d{8}$/.test(rawCep)) {
                            alert('O CEP deve conter 8 dígitos numéricos.');
                            formValid = false;
                        }

                        // Atualiza o campo para enviar ao back-end sem hífen
                        cepInput.value = rawCep;

                        if (!formValid) {
                            event.preventDefault();
                        }
                    });

                    // Máscara de CEP visual (sem impactar valor real)
                    document.getElementById('nr_cep').addEventListener('input', function (event) {
                        let cep = event.target.value.replace(/\D/g, '');

                        if (cep.length > 5) {
                            cep = cep.slice(0, 5) + '-' + cep.slice(5, 8);
                        }

                        event.target.value = cep;
                    });

                    // Atualizar bairros automaticamente quando mudar a cidade
                    document.getElementById('cd_cidade').addEventListener('change', function () {
                        const cidadeId = this.value;
                        const bairroSelect = document.getElementById('cd_bairro');

                        bairroSelect.innerHTML = '<option value="">Selecione o bairro</option>';

                        if (cidadeId) {
                            fetch(`/bairros/${cidadeId}`)
                                .then(response => response.json())
                                .then(data => {
                                    if (data.length === 0) {
                                        const option = document.createElement('option');
                                        option.value = "";
                                        option.textContent = "Nenhum bairro encontrado";
                                        bairroSelect.appendChild(option);
                                    } else {
                                        data.forEach(bairro => {
                                            const option = document.createElement('option');
                                            option.value = bairro.cd_bairro;
                                            option.textContent = bairro.nm_bairro;
                                            bairroSelect.appendChild(option);
                                        });
                                    }
                                })
                                .catch(error => {
                                    console.error('Erro ao buscar bairros:', error);
                                    alert('Erro ao carregar bairros.');
                                });
                        }
                    });

                    // Atualizar o valor de 'ie_situacao' antes de enviar o formulário
                    document.getElementById('formCadastroPlanta').addEventListener('submit', function () {
                        const checkbox = document.getElementById('ie_situacao_checkbox');
                        const hiddenInput = document.getElementById('hidden_ie_situacao');

                        // Atualiza o valor do campo hidden com base no estado do checkbox
                        hiddenInput.value = checkbox.checked ? 'A' : 'I';

                        // Log para depuração
                        console.log('Checkbox marcado:', checkbox.checked);
                        console.log('Valor enviado de ie_situacao:', hiddenInput.value);
                    });

                    // Atualiza o campo "Capacidade Atual (Kg)" automaticamente com base no Total
                    document.querySelector('[name="qt_capacidade_total_kg"]').addEventListener('input', function () {
                        const total = this.value;
                        const atualField = document.getElementById('qt_capacidade_atual_kg');
                        if (atualField) {
                            atualField.value = total;
                        }
                    });
                </script>
                <!-- End Script-->
                <footer class="footer">
                    <div class="container-fluid d-flex justify-content-between">
                        <nav class="pull-left">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">footer#1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">footer#2</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="copyright">
                            2025 - Autores: Equipe 7
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</main>